/* Lesson 26: */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter';
    color: #DEEBF8;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 25px;
    height: 90px;
    background-color: #21222A;
    
}

.nav-title {
    margin-right: auto;
    margin-left: 5px;
    color: #61DAFB;
}

.nav-logo {
    width: 30px;
}

.nav-description {
    font-size: 0.9em;
}

/* Lesson 27: */
main {
    background-color: #282D35;
    color: #FFF;
    padding: 57px 27px;
    /* Lesson 30: */
    background-image: url("../images/react-icon-large.png");
    background-repeat: no-repeat;
    background-position: right 65%;
}

.main-title {
    margin: 0;
    letter-spacing: -0.05em;
    font-size: 39px;
}

.main-list {
    margin-top: 25px;
    max-width: 400px;
}

.main-list-bullet {
    padding: 10px 0;
}

/* Lesson 29: */
.main-list-bullet::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}